<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule</title>
    <script src="https://cdn.feczine.cn/library/vue/vue2/vue.js"></script>
    <script src="https://cdn.feczine.cn/library/axios/axios.min.js"></script>
    <script src="https://cdn.feczine.cn/library/js/sha1.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
</head>
<body>
<div id="app">
    <el-container>
        <el-header>
            <template>
                <el-select @change="listEffCourseByDate()" v-model="date" placeholder="请选择日期">
                  <el-option
                    v-for="date in dates"
                    :key="date.value"
                    :label="date.label"
                    :value="date.value">
                  </el-option>
                </el-select>
            </template>
            <template>
                <el-button type="primary" plain @click="submitDialogVisible = true">添加课程</el-button>
                <el-dialog title="添加课程" :visible.sync="submitDialogVisible" @close="clearSubmitData" width="60%">
                    <el-form ref="form" :model="form" :rules="rules" label-width="100px">
                        <el-form-item label="课程名称" prop="courseName">
                        <el-input v-model="form.courseName"></el-input>
                        </el-form-item>
                        <el-form-item label="上课地点" prop="courseLocation">
                        <el-input v-model="form.courseLocation"></el-input>
                        </el-form-item>
                        <el-form-item label="授课老师" prop="courseLecturer">
                        <el-input v-model="form.courseLecturer"></el-input>
                        <el-form-item label="上课时间" required v-for="(item, index) in form.nums" :key="index">
                            <el-form :inline="true" ref="form" :model="form" :rules="rules">
                                <el-form-item prop="courseDate">
                                    <el-select v-model="form.courseDate[index]" placeholder="请选择日期">
                                        <el-option label="周一" value="Monday"></el-option>
                                        <el-option label="周二" value="Tuesday"></el-option>
                                        <el-option label="周三" value="Wednesday"></el-option>
                                        <el-option label="周四" value="Thursday"></el-option>
                                        <el-option label="周五" value="Friday"></el-option>
                                        <el-option label="周六" value="Saturday"></el-option>
                                        <el-option label="周日" value="Sunday"></el-option>
                                    </el-select>
                                </el-form-item>
                                    <el-form-item prop="courseStartTime">
                                        <el-time-select
                                        placeholder="开始时间"
                                        v-model="form.courseStartTime[index]"
                                        :picker-options="{
                                            start: '08:10',
                                            step: '00:05',
                                            end: '19:55',
                                        }">
                                    </el-time-select>
                                </el-form-item>
                                <label>&nbsp;-&nbsp;&nbsp;&nbsp;</label>
                                <el-form-item prop="courseEndTime">
                                    <el-time-select
                                        placeholder="结束时间"
                                        v-model="form.courseEndTime[index]"
                                        :picker-options="{
                                            start: '08:10',
                                            step: '00:05',
                                            end: '19:55',
                                            minTime: form.courseStartTime[index]
                                        }">
                                    </el-time-select>
                                </el-form-item>
                                <el-form-item prop="courseWeek">
                                    <el-input placeholder="上课周数" v-model="form.courseWeek[index]"></el-input>
                                </el-form-item>
                                <el-button v-if="index === 0" type="primary" plain @click="submitAddDate()">增加</el-button>
                                <el-button v-if="index > 0 && index + 1 === form.nums.length" type="danger" plain @click="submitDeleteDate()">删除</el-button>
                            </el-form>
                        </el-form-item>
                    </el-form>
                    <span slot="footer" class="dialog-footer">
                        <el-button @click="clearSubmitData();">取 消</el-button>
                        <el-button type="primary" @click="submitCourse();">提 交</el-button>
                    </span>
                </el-dialog>
            </template>
            <template>
                <el-button @click="deleteCourseDialogVisible = true" type="danger" plain>删除课程</el-button>
                <el-dialog title="添加课程" :visible.sync="deleteCourseDialogVisible" @close="clearDelFormData()" width="60%">
                    <el-form :model="delForm" ref="delForm" label-width="100px">
                        <el-form-item label="课程名称">
                            <el-input v-model="delForm.delCorseName"></el-input>
                        </el-form-item>
                    </el-form>
                    <span slot="footer" class="dialog-footer">
                        <el-button @click="clearDelFormData();">取 消</el-button>
                        <el-button type="primary" @click="ensureDel();">删 除</el-button>
                    </span>
                </el-dialog>
            </template>
            <template>
                <el-button @click="getEffSchedule()" plain>有效课程</el-button>
                <el-button @click="getSchedule()" plain>所有课程</el-button>
            </template>
            <template>
                <el-button type="primary" plain @click="uploadDialogVisible = true">上传</el-button>

                <el-dialog
                    title="课程上传"
                    :visible.sync="uploadDialogVisible"
                    width="50%"
                    :before-close="clearFileList">
                    <div class="center">
                        <el-upload
                            ref="fileList"
                            drag
                            action="./file/update"
                            accept=".txt"
                            :file-list="fileList"
                            :limit="1"
                            :on-exceed="handleExceed"
                            :on-change="handleFileUploadChange"
                            :on-success="afterFileUpload"
                            :before-upload="beforeFileUpload"
                            :before-remove="beforeRemove"
                            :auto-upload="false"
                            multiple>
                            <i class="el-icon-upload"></i>
                            <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                            <div class="el-upload__tip" slot="tip">只能上传txt文件 且不超过500kb</div>
                            <div class="el-upload__tip" slot="tip">格式：#课程名|上课地点|授课老师|上课日期|上课周数，上课日期若有多个 请用英文逗号分隔</div>
                            <div class="el-upload__tip" slot="tip">例：#高等数学|A教404|汤家凤|Monday 12:30-14:00,Friday 08:10-09:40</div>
                        </el-upload>
                    </div>
                    <span slot="footer" class="dialog-footer">
                        <el-button @click="clearFileList()">取 消</el-button>
                        <el-button type="primary" @click="submitUpload()">上 传</el-button>
                    </span>
                </el-dialog>
            </template>
            </template>
            <template>
                <el-button plain>当前：第 {{ currentWeek }} 周</el-button>
            </template>
            <template>

                <el-dropdown @command="profileFunctions">
                    <el-button>{{ userNickname }}<i class="el-icon-arrow-down el-icon--right" style="text-align: right;"></i></el-button>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item command="modifyProfile">修改信息</el-dropdown-item>
                        <el-dropdown-item command="apiTokenDialog">获取Api</el-dropdown-item>
                        <el-dropdown-item command="delUser">注销</el-dropdown-item>
                        <el-dropdown-item command="exit">退出</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>

                <el-dialog title="个人信息" :visible.sync="ModifyUserDialogVisible" :before-close="clearProfileTable">
                    <el-form :model="profileTable" :rules="modifyRules">
                        <el-form-item label="学号：" prop="userCode">
                            {{ profileTable.userCode }}
                        </el-input>
                        </el-form-item>
                        <el-form-item label="密码" prop="userPassword">
                            <el-input type="password" v-model="profileTable.userPassword" placeholder="留空则不修改" autocomplete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="昵称" prop="userNickname">
                            <el-input v-model="profileTable.userNickname" placeholder="留空则不修改" autocomplete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="学期开始日期" prop="termInitialDate">
                            <el-date-picker
                                v-model="profileTable.termInitialDate"
                                type="date"
                                placeholder="留空则不修改">
                            </el-date-picker>
                        </el-form-item>
                    </el-form>
                    <div slot="footer" class="dialog-footer">
                      <el-button @click="clearProfileTable()">取 消</el-button>
                      <el-button type="primary" @click="submitModifyProfile()">修 改</el-button>
                    </div>
                </el-dialog>

                <el-dialog
                title="ApiToken"
                :visible.sync="apiTokenDialogVisible"
                width="30%">
                <span style="text-align: middle">Token: {{ apiToken }}</span>
                <span slot="footer" class="dialog-footer">
                    <el-button type="warning" @click="apiTokenDialogVisible = false; apiToken = null;">关 闭</el-button>
                </span>
                </el-dialog>

                <el-dialog title="注销验证" :visible.sync="verifyDeleteUserDialogVisible" :before-close="clearVerifyUserForm">
                    <el-form :model="verifyUser" :rules="verifyRules">
                      <el-form-item label="学号" prop="userCode">{{ verifyUser.userCode }}</el-input>
                      </el-form-item>
                      <el-form-item label="密码" prop="userPassword">
                        <el-input type="password" v-model="verifyUser.userPassword" autocomplete="off"></el-input>
                      </el-form-item>
                    </el-form>
                    <div slot="footer" class="dialog-footer">
                      <el-button @click="clearVerifyUserForm()">取 消</el-button>
                      <el-button type="primary" @click="submitVerifyUser()">验 证</el-button>
                    </div>
                </el-dialog>

                <el-dialog title="注销" :visible.sync="ensureDeleteUserDialogVisible">
                      <el-button @click="ensureDeleteUserDialogVisible = false;">取 消</el-button>
                      <el-button type="danger" @click="sumbitDelUser()">注 销</el-button>
                </el-dialog>

                <el-dialog title="退出确认" :visible.sync="exitUserDialogVisible">
                      <el-button @click="exitUserDialogVisible = false;">取 消</el-button>
                      <el-button type="danger" @click="ensureExit()">确 认</el-button>
                </el-dialog>
                  
            </template>
        </el-header>
        <el-main>
            <el-table
                :data="tableData"
                :header-cell-style="rowStyle"
                :cell-style="rowStyle"
                border
                style="width: 100%">
                <el-table-column prop="courseShowDate" label="日期" sortable :sort-method="compare"></el-table-column>
                <el-table-column prop="courseShowTime" label="时间"></el-table-column>
                <el-table-column prop="courseShowWeek" label="周数"></el-table-column>
                <el-table-column prop="courseName" label="课程名"></el-table-column>
                <el-table-column prop="courseLocation" label="上课地点"></el-table-column>
                <el-table-column prop="courseLecturer" label="授课老师"></el-table-column>
            </el-table>
        </el-main>
    </el-container>
</div>
<script>
    const _window = window;
    const _location = location;
    const _that = this;
    const app = new Vue({
        el: "#app",
        data() {
            // 有Bug
            let checkDate = (rule, value, callback) => {
                if (value.includes(null)) {
                    callback(new Error("请选择日期"));
                }
            };
            let checkStartTime = (rule, value, callback) => {
                if (value.includes(null)) {
                    callback(new Error("请选择开始时间"));
                }
            };
            let checkEndTime = (rule, value, callback) => {
                if (value.includes(null)) {
                    callback(new Error("请选择结束时间"));
                }
            };
            let checkWeek = (rule, value, callback) => {
                for (let i = 0; i < value.length; i++) {
                    week = value[i].split("-");
                    if (value[i] == null || value[i] == '') {
                        callback(new Error("请输入上课周数"));
                    }
                    if (!(value[i].match(/\d{1,2}-\d{1,2}/))) {
                        callback(new Error("请输入正确的格式 [xx]-[xx]"));
                    }
                    if (value[i].match(/\d{1,2}-\d{1,2}/)) {
                        if (Number(week[1]) > 99 || Number(week[1]) > 99) {
                            callback(new Error("请输入正确的格式 [xx]-[xx]"));                  
                        }
                    }
                    if (Number(week[0]) > Number(week[1])) {
                        callback(new Error("小周在前，大周在后"));
                    }
                }
            };
            return {
                userNickname: getCookie("userNickname"),
                currentWeek: getCookie("currentWeek"),
                form: {
                    courseName: null,
                    courseLocation: null,
                    courseLecturer: null,
                    courseWeek: [],
                    nums: [""],
                    courseDate: [],
                    courseStartTime: [],
                    courseEndTime: []
                },
                delForm: {
                    delCorseName: null
                },
                verifyUser: {
                    userCode: getCookie("userCode"),
                    userPassword: null
                },
                profileTable: {
                    userCode: getCookie("userCode"),
                    userNickname: null,
                    termInitialDate: null
                },
                fileList:[],
                apiToken: null,
                submitDialogVisible: false,
                ModifyUserDialogVisible: false,
                apiTokenDialogVisible: false,
                deleteCourseDialogVisible: false,
                verifyDeleteUserDialogVisible: false,
                ensureDeleteUserDialogVisible: false,
                exitUserDialogVisible: false,
                uploadDialogVisible: false,
                tableData: [],
                date: null,
                dates: [
                    {
                        value: 'All',
                        label: '全部'
                    }, {
                        value: 'Monday',
                        label: '周一'
                    }, {
                        value: 'Tuesday',
                        label: '周二'
                    }, {
                        value: 'Wednesday',
                        label: '周三'
                    }, {
                        value: 'Thursday',
                        label: '周四'
                    }, {
                        value: 'Friday',
                        label: '周五'
                    }, {
                        value: 'Saturday',
                        label: '周六'
                    }, {
                        value: 'Sunday',
                        label: '周日'
                    }
                ],
                rules: {
                    courseName: [
                        { type: 'string', required: true, message: '请输入课程名称', trigger: 'change' }
                    ],
                    courseLocation: [
                        { type: 'string', required: true, message: '请选择上课地点', trigger: 'change' }
                    ],
                    courseLecturer: [
                        { type: 'string', required: true, message: '请输入授课老师', trigger: 'change' }
                    ],
                    courseWeek: [
                        { required: true, validator: checkWeek, trigger: 'blur' }
                    ],
                    courseDate: [
                        { required: true, validator: checkDate, trigger: 'blur' }
                    ],
                    courseStartTime: [
                        { required: true, validator: checkStartTime, trigger: 'blur' }
                    ],
                    courseEndTime: [
                        { required: true, validator: checkEndTime, trigger: 'blur' }
                    ]
                },
                verifyRules: {
                    userPassword: [
                        { type: 'string', required: true, message: '请输入密码', trigger: 'change' },
                        { min: 8, max: 20, message: '长度在 8 到 20 个字符', trigger: 'change' }
                    ],
                },
                modifyRules: {
                        userPassword: [
                            { type: 'string', required: false, message: '请输入密码', trigger: 'change' },
                            { min: 8, max: 20, message: '长度在 8 到 20 个字符', trigger: 'change' }
                        ],
                        userNickname: [
                            { type: 'string', required: false, message: '请输入昵称', trigger: 'change' },
                            { min: 1, max: 12, message: '长度在 8 到 20 个字符', trigger: 'change' }
                        ],
                        termInitialDate: [
                            { type: 'date', required: false, message: '学期开始日期', trigger: 'change' }
                        ],
                    },
            }
        },
        methods: {
            rowStyle() {
                return "text-align:center";
            },
            msgReminder(msg, type) {
                this.$message({
                    message: msg,
                    type: type
                });
            },
            getSchedule() {
                let _this = this;
                axios.get("/schedules/all")
                .then(function (response) {
                    if (response.data.code === 20061) {
                        _this.tableData = response.data.data;
                    } else {
                        _this.msgReminder("获取数据失败，请刷新重试！", "warning");
                    }
                });
            },
            listCourseByDate() {
                let _this = this;
                if (_this.date !== "All") {
                    axios.get("/schedules/courseDate/all/" + _this.date)
                    .then(function (response) {
                        if (response.data.code === 20051) {
                            _this.tableData = response.data.data;
                        } else {
                            _this.msgReminder("获取数据失败，请刷新重试！", "warning");
                        }
                    });
                } else {
                    _this.getSchedule();
                }
            },
            getEffSchedule() {
                let _this = this;
                axios.get("/schedules")
                .then(function (response) {
                    if (response.data.code === 20061) {
                        _this.tableData = response.data.data;
                    } else {
                        _this.msgReminder("获取数据失败，请刷新重试！", "warning");
                    }
                });
            },
            listEffCourseByDate() {
                let _this = this;
                if (_this.date !== "All") {
                    axios.get("/schedules/courseDate/" + _this.date)
                    .then(function (response) {
                        if (response.data.code === 20051) {
                            _this.tableData = response.data.data;
                        } else {
                            _this.msgReminder("获取数据失败，请刷新重试！", "warning");
                        }
                    });
                } else {
                    _this.getSchedule();
                }
            },
            clearSubmitData() {
                this.form.courseName = null;
                this.form.courseLocation = null;
                this.form.courseLecturer = null;
                this.form.courseWeek = [];
                this.form.nums = [""];
                this.form.courseDate = [];
                this.form.courseStartTime = [];
                this.form.courseEndTime = [];
                this.submitDialogVisible = false;
            },
            submitCourse() {
                let _this = this;
                if (_this.form.courseName == null || _this.form.courseLocation == null || _this.form.courseLecturer == null 
                    || _this.form.courseWeek == null || _this.form.courseWeek == null || _this.form.courseDate.includes(null) 
                    || _this.form.courseStartTime.includes(null) || _this.form.courseEndTime.includes(null)) {
                    _this.msgReminder("请完善课程信息", "warning");
                    return;
                }
                _this.submitDialogVisible = false;
                axios.post('/schedules', {
                    courseName: _this.form.courseName,
                    courseLocation: _this.form.courseLocation,
                    courseLecturer: _this.form.courseLecturer,
                    courseWeek: _this.form.courseWeek,
                    courseInputDate : _this.submitTransformDateData()
                })
                .then(function (response) {
                    if (response.data.code === 20011) {
                        _this.clearSubmitData();
                        _this.getSchedule();
                        _this.msgReminder("添加成功", "success");
                    } else if (response.data.code === 20010) {
                        _this.clearSubmitData();
                        _this.msgReminder("添加失败", "warning");
                    } else {
                        _this.clearSubmitData();
                        _this.msgReminder("系统错误", "danger");
                    }
                });
            },
            submitTransformTimeData() {
                let result = [];
                for(let i = 0; i < this.form.nums.length; i++) {
                    result[i] = this.form.courseStartTime[i] + "-" + this.form.courseEndTime[i];
                }
                return result;
            },
            submitTransformDateData() {
                let result = [];
                for (let i = 0; i < this.form.nums.length; i++) {
                    result[i] = this.form.courseDate[i] + " " + this.submitTransformTimeData()[i];
                }
                return result;
            },
            submitAddDate() {
                this.form.nums.push("");
            },
            submitDeleteDate() {
                if (this.form.courseDate.length - this.form.nums.length >= 0) {
                    this.form.courseDate.pop();
                }
                if (this.form.courseStartTime.length - this.form.nums.length >= 0) {
                    this.form.courseStartTime.pop();
                }
                if (this.form.courseEndTime.length - this.form.nums.length >= 0) {
                    this.form.courseEndTime.pop();
                }
                this.form.nums.pop();
            },
            clearDelFormData() {
                this.delForm.delCorseName = null;
                this.deleteCourseDialogVisible = false;
            },
            delCourse() {
                let _this = this;
                _this.deleteCourseDialogVisible = false;
                axios.delete('/schedules/' + _this.delForm.delCorseName)
                .then(function (response) {
                    if (response.data.code === 20021) {
                        _this.clearDelFormData();
                        _this.getSchedule();
                        _this.msgReminder("删除成功", "success");
                    } else if (response.data.code === 20020) {
                        _this.clearDelFormData();
                        _this.msgReminder("删除失败", "warning");
                    } else {
                        _this.clearDelFormData();
                        _this.msgReminder("系统错误", "warning");
                    }
                });
            },
            ensureDel() {
                this.$confirm('此操作将永久删除所有包含该名字的课程, 是否继续？', '提示', {
                confirmButtonText: '删除',
                cancelButtonText: '取消',
                type: 'warning'
                }).then(() => {
                    this.delCourse();
                }).catch(() => {
                    this.clearDelFormData();
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },
            compare(obj1, obj2) {
                let o1 = obj1.courseShowDate;
                let o2 = obj2.courseShowDate;
                if (o1 === "Monday") o1 = 1;
                if (o2 === "Monday") o2 = 1;
                if (o1 === "Tuesday") o1 = 2;
                if (o2 === "Tuesday") o2 = 2;
                if (o1 === "Wednesday") o1 = 3;
                if (o2 === "Wednesday") o2 = 3;
                if (o1 === "Thursday") o1 = 4;
                if (o2 === "Thursday") o2 = 4;
                if (o1 === "Friday") o1 = 5;
                if (o2 === "Friday") o2 = 5;
                if (o1 === "Saturday") o1 = 6;
                if (o2 === "Saturday") o2 = 6;
                if (o1 === "Sunday") o1 = 7;
                if (o2 === "Sunday") o2 = 7;
                return o1 - o2;
            },
            profileFunctions(cmd) {
                if (cmd === "modifyProfile") this.modifyProfile();
                if (cmd === "apiTokenDialog") this.apiTokenDialog();
                if (cmd === "exit") this.exit();
                if (cmd === "delUser") this.delUser();
            },
            modifyProfile() {
                this.ModifyUserDialogVisible = true;
            },
            submitModifyProfile() {
                let _this = this;
                axios.put('/users', {
                    userCode: getCookie("userCode"),
                    userPassword: _that.sha1(_this.profileTable.userPassword),
                    userNickname: _this.profileTable.userNickname,
                    termInitialDate: _this.profileTable.termInitialDate
                })
                .then(function (response) {
                    if (response.data.code === 10031) {
                        _this.msgReminder("修改成功", "success");
                        _this.clearProfileTable();
                        _window.setTimeout("_location.reload();", 1000);
                    } else if (response.data.code === 10030) {
                        _this.msgReminder("修改失败", "warning");
                        _this.clearProfileTable();
                    } else {
                        _this.msgReminder("系统错误", "danger");
                        _this.clearProfileTable();
                    }
                });
            },
            clearProfileTable() {
                this.ModifyUserDialogVisible = false;
                this.profileTable.userCode = null;
                this.profileTable.userNickname = null;
                this.profileTable.termInitialDate = null;
                this.profileTable.currentWeek = null;
            },
            apiTokenDialog() {
                this.apiTokenDialogVisible = true;
                this.getApiToken();
            },
            getApiToken() {
                let _this = this;
                axios.get('/users/apiToken')
                .then(function (response) {
                    if (response.data.code === 50021) {
                        _this.apiToken = response.data.data
                    } else if (response.data.code === 50020) {
                        _this.msgReminder("获取失败", "warning");
                    } else {
                        _this.msgReminder("系统错误", "danger");
                    }
                });
            },
            delUser() {
                this.verifyDeleteUserDialogVisible = true;
            },
            clearVerifyUserForm() {
                this.verifyDeleteUserDialogVisible = false;
                this.verifyUser.userPassword = null;
            },
            submitVerifyUser() {
                let _this = this;
                if (_this.verifyUser.userCode === null || _this.verifyUser.userPassword === null) {
                    _this.msgReminder("请填写验证信息", "warning");
                    return;
                }
                axios.post('/users/login', {
                    userCode: _this.verifyUser.userCode,
                    userPassword: _that.sha1(_this.verifyUser.userPassword)
                })
                .then(function (response) {
                    if (response.data.code === 10061) {
                        _this.clearVerifyUserForm();
                        _this.ensureDeleteUserDialogVisible = true;
                    } else if (response.data.code === 10060) {
                        _this.msgReminder("验证失败", "warning");
                        _this.clearVerifyUserForm();
                    } else {
                        _this.msgReminder("系统错误", "danger");
                        _this.clearVerifyUserForm();
                    }
                });
            },
            sumbitDelUser() {
                let _this = this;
                if (_this.ensureDeleteUserDialogVisible === true) {
                    axios.delete('/users/' + _this.verifyUser.userCode)
                    .then(function (response) {
                        if (response.data.code === 10021) {
                            _this.msgReminder("注销成功", "success");
                            _this.ensureDeleteUserDialogVisible = false;
                            _window.setTimeout("_window.location.href = './Login.html';", 1000);
                        } else if (response.data.code === 10020) {
                            _this.msgReminder("注销失败", "warning");
                            _this.ensureDeleteUserDialogVisible = false;
                        } else {
                            _this.msgReminder("系统错误", "danger");
                            _this.ensureDeleteUserDialogVisible = false;
                        }
                    });
                }
            },
            exit() {
                this.exitUserDialogVisible = true;
            },
            ensureExit() {
                let _this = this;
                axios.post('/users/logout')
                .then(function (response) {
                    if (response.data.code === 30011) {
                        _this.msgReminder("退出成功", "success");
                        _window.setTimeout("_window.location.href = './Login.html';", 1500);
                    } else {
                        _this.msgReminder("系统错误", "danger");
                    }
                });
            },
            clearFileList() {
                this.uploadDialogVisible = false;
                this.fileList = [];
            },
            submitUpload() {
                this.$refs.fileList.submit();
            },
            afterFileUpload(response, file, fileList) {
                const _this = this;
                console.log(response);
                console.log(response.code);
                if (response.code === 40011) {
                    _this.msgReminder("解析成功", "success");
                    _this.clearFileList();
                    _window.setTimeout("_location.reload();", 1000);
                } else if (response.code === 40010) {
                    _this.msgReminder("解析失败，请检查文件格式，或课程名重复", "warning");
                    _this.clearFileList();
                } else {
                    _this.msgReminder("系统错误", "danger");
                    _this.clearFileList();
                }
            },
            handleExceed(files, fileList) {
                this.$message.warning(`当前限制选择 1 个文件，本次选择了 ${files.length} 个文件，共选择了 ${files.length + fileList.length} 个文件`);
            },
            beforeRemove(file, fileList) {
                return this.$confirm(`确定移除 ${ file.name }？`);
            },
            handleFileUploadChange(file, fileList) {
                this.fileList[0] = file;
            },
            beforeFileUpload(file) {
                const _this = this;
                if (file.size > (1024 * 512)) {
                    this.$message.error('上传图片大小不能超过 512K!');
                    return false;
                }
                return;
            },
        },
    });
    app.getEffSchedule();
    function getCookie(cname){
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for(var i=0; i<ca.length; i++) {
            var c = ca[i].trim();
            if (c.indexOf(name)==0) { return c.substring(name.length,c.length); }
        }
        return "";
    } 
</script>
<style>
  .el-header, .el-footer {
    background-color: #B3C0D1;
    color: #333;
    line-height: 60px;
  }
  .el-main {
    background-color: #E9EEF3;
    color: #333;
    text-align: center;
    line-height: 20px;
  }
  .center{
    text-align:center;
  }
</style>
</body>
</html>